$border-color = #eee
$font-24 = 0.24rem
$font-28 = 0.28rem
$font-30 = 0.30rem
$font-32 = 0.32rem
$font-36 = 0.36rem
$color = #1296db
$color-333 = #333333
$color-999 = #999999
$color-7b7f96 = #7b7f96
$color-fff = #fff
$color-eee = #eee

.clearfix
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden